<style>
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    /* Control containers */
    .modal .control-container {
        --control-width: 100px;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-rows: 20px 1fr;
        grid-template-columns: 1fr var(--control-width);
        width: 100%;
        gap: 10px 30px;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    .modal .control-container .control-title {
        display: block;
        font-size: 16px;
        grid-column: 1 / 3;
    }

    .modal .control-container .control-text {
        flex: 1;
        font-size: 14px;
        color: var(--tertiary-text-color);
    }

    /* Toggle buttons */
    .modal .control-container .toggle-button {
        position: relative;
        cursor: pointer;
        width: var(--control-width);
        height: 30px;
        font-size: 12px;
        overflow: hidden;
        border-radius: 20px;
    }

    .modal .control-container .toggle-button .background,
    .modal .control-container .toggle-button .thumb,
    .modal .control-container .toggle-button .foreground {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .modal .control-container .toggle-button .background {
        width: 100%;
        background-color: #323232;
    }

    .modal .control-container .toggle-button .thumb {
        width: 50%;
        border-radius: 20px;
        background-color: #454545;
        transition: all 0.3s ease-in-out;
    }

    .modal .control-container .toggle-button .foreground {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        text-transform: uppercase;
    }

    .modal .control-container .toggle-button[data-state="true"] > .thumb {
        left: 50%;
        background-color: var(--highlight-color);
    }

    /* Range sliders */
    .modal .control-container .range-slider-container {
        --slider-thumb-size: 20px;
        --tooltip-left: calc(var(--slider-thumb-size) / 2);
        position: relative;
        width: var(--control-width);
    }

    .modal .control-container .range-slider-container::after {
        content: attr(data-value);
        pointer-events: none;
        position: absolute;
        opacity: 0;
        top: 0;
        left: var(--tooltip-left);
        padding: 5px 8px;
        font-size: 12px;
        border-radius: 100px;
        transform: translate(-50%, -150%);
        transition: opacity 0.1s ease-in-out;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal .control-container .range-slider-container .range-slider {
        appearance: none;
        outline: none;
        width: 100%;
        height: 14px;
        border-radius: 20px;
        background-color: #323232;
    }

    .modal .control-container .range-slider-container .range-slider::-webkit-slider-thumb {
        appearance: none;
        cursor: pointer;
        background-color: #505050;
        width: var(--slider-thumb-size);
        height: var(--slider-thumb-size);
        border-radius: var(--slider-thumb-size);
        transition: background 0.1s linear;
    }

    .modal .control-container .range-slider-container .range-slider::-webkit-slider-thumb:hover {
        background-color: #606060;
    }

    .modal .control-container .range-slider-container:hover::after {
        opacity: 1;
    }

    /* Theme picker */
    .modal .themes-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .modal .themes-container .theme-container {
        border-radius: 10px;
        border: 2px solid #282828;
        transition: box-shadow 0.1s linear;
    }

    .modal .themes-container .theme-container:not(.selected):has(.theme-title:hover) {
        box-shadow: 2px 2px 10px #000000;
    }

    .modal .themes-container .theme-container.selected {
        outline: 1px solid var(--highlight-color);
    }

    .modal .themes-container .theme-container .theme-title {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding: 10px 15px;
        background-color: #282828;
    }

    .modal .themes-container .theme-container .theme-delete {
        cursor: pointer;
        width: 18px;
        height: 18px;
        padding: 5px;
        flex: 0 0 18px;
        border-radius: 100%;
    }

    .modal .themes-container .theme-container .theme-delete:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal .themes-container .theme-container .theme-colors {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px 0;
    }

    .modal .themes-container .theme-container .theme-colors .color {
        cursor: pointer;
        width: 30px;
        height: 30px;
        padding: 2px;
        border-radius: 30px;
        background-clip: content-box;
        border: 1px solid transparent;
    }

    .modal .themes-container .theme-container .theme-colors .color:hover {
        border-color:#ffb700;
    }

    /* Color picker */
    .modal .color-picker-container {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top: 50%;
        left: 50%;
        z-index: 10;
        width: 300px;
        height: 360px;
        padding-top: 20px;
        border-radius: 10px;
        border: 1px solid #000000;
        transform: translate(-50%, -50%);
        background: var(--modal-background);
        animation: fadeIn 0.2s ease forwards;
    }

    .modal .color-picker-container.active {
        display: flex;
    }

    .modal .color-picker-container .dragbar {
        position: absolute;
        cursor: grab;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
    }

    .modal .color-picker-container .dragbar:active {
        cursor: grabbing;
    }

    .modal .color-picker-container .color-picker-close {
        position: absolute;
        cursor: pointer;
        top: 8px;
        right: 8px;
        width: 20px;
        height: auto;
        opacity: 0.8;
        transition: opacity 0.2s ease;
    }

    .modal .color-picker-container .color-picker-close:hover {
        opacity: 1;
    }

    .modal .color-picker-container .details {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .modal .color-picker-container .details .before-after {
        --before: #ffffff;
        --after: #ffffff;
        pointer-events: none;
        position: relative;
        width: 100px;
        height: 25px;
    }

    .modal .color-picker-container .details .before-after::before,
    .modal .color-picker-container .details .before-after::after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
    }

    .modal .color-picker-container .details .before-after::before {
        pointer-events: all;
        cursor: pointer;
        left: 0;
        z-index: 1;
        border-radius: 10px 0 0 10px;
        background-color: var(--before);
    }

    .modal .color-picker-container .details .before-after:hover::before {
        outline: 1px solid #ffb700;
    }

    .modal .color-picker-container .details .before-after::after {
        right: 0;
        border-radius: 0 10px 10px 0;
        background-color: var(--after);
    }

    .modal .color-picker-container .details .color-code {
        user-select: auto;
        outline: none;
        border: none;
        width: 100px;
        font-size: 15px;
        padding: 6px 10px;
        border-radius: 10px;
        box-sizing: border-box;
        text-transform: uppercase;
        background-color: #323232;
        color: var(--primary-text-color);
        transition: background 0.2s linear;
    }

    .modal .color-picker-container .details .color-code:focus {
        background-color: #404040;
    }

    /* User profile */
    .modal .profile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        height: 400px;
        margin: 0 auto;
        border-radius: 20px;
        background-color: #121212;
        box-shadow: 0 0 15px 1px #000000;
    }

    .modal .profile-container .profile-picture {
        width: 140px;
        height: 140px;
        border-radius: 100%;
        margin-bottom: 50px;
        background: url("../assets/img/default-profile.png") center;
        background-size: contain;
    }

    .modal .profile-container .profile-name {
        outline: none;
        border: none;
        width: 150px;
        font-size: 16px;
        padding: 8px 20px;
        text-align: center;
        border-radius: 10px;
        background-color: #303030;
        color: var(--primary-text-color);
        transition: background 0.2s linear;
    }

    .modal .profile-container .profile-name:focus {
        background-color: #383838;
    }

    .modal .container {
        position: relative;
        width: 90vh;
        height: 90vh;
        padding: 30px;
        border-radius: 20px;
        box-sizing: border-box;
        background: var(--modal-background);
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
    }

    .modal .container .content {
        display: grid;
        grid-template-rows: 60px 1fr 50px;
        width: 100%;
        height: 100%;
    }

    .modal .container .content .title {
        display: block;
        font-size: 24px;
        text-align: center;
    }

    .modal .container .content .tabs .tab-titles {
        display: inline-flex;
        width: 100%;
    }

    .modal .container .content .tabs .tab-titles .title:first-child {
        border-radius: 10px 0 0 0;
    }

    .modal .container .content .tabs .tab-titles .title:last-child {
        border-radius: 0 10px 0 0;
    }

    .modal .container .content .tabs .tab-titles .title {
        cursor: pointer;
        width: 100%;
        font-size: 14px;
        padding: 15px 0;
        text-transform: uppercase;
        color: var(--tertiary-text-color);
        border-bottom: 3px solid var(--scrollbar-thumb-color);
        transition: all 0.1s linear;
    }

    .modal .container .content .tabs .tab-titles .title:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .modal .container .content .tabs .tab-titles .title.active {
        color: var(--primary-text-color);
        border-bottom-color: var(--highlight-color);
    }

    .modal .container .content .tabs .tab-contents {
        position: relative;
        margin-top: 10px;
    }

    .modal .container .content .tabs .tab-contents .tab {
        display: none;
        padding: 20px;
        overflow-y: auto;
        height: calc(90vh - 260px); /* Beautiful hack */
        animation: fadeIn 0.2s linear forwards;
    }

    .modal .container .content .tabs .tab-contents .tab::-webkit-scrollbar {
        appearance: none;
        width: 8px;
    }

    .modal .container .content .tabs .tab-contents .tab::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
    }

    .modal .container .content .tabs .tab-contents .tab::-webkit-scrollbar-thumb:hover {
        background-color: var(--highlight-color);
    }

    .modal .container .content .tabs .tab-contents .tab.active {
        display: block;
    }

    .modal .container .content .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modal .container .content .buttons .button {
        cursor: pointer;
        outline: none;
        border: none;
        width: 150px;
        opacity: 1;
        font-size: 12px;
        padding: 12px 0;
        font-weight: bold;
        border-radius: 5px;
        text-transform: uppercase;
        transition: opacity 1s ease;
        transition: opacity 0.2s linear;
        color: var(--primary-text-color);
        background-color: var(--highlight-color);
    }

    .modal .container .content .buttons .modal-save.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
</style>

<div class="container">
    <div class="color-picker-container">
        <div class="dragbar"></div>
        <img class="color-picker-close" src="../assets/icon/ui/close.png" />
        <div id="colorPicker"></div>
        <div class="details">
            <div class="before-after"></div>
            <input class="color-code" type="text" placeholder="#000000" />
        </div>
    </div>

    <div class="content">
        <span class="title">Settings</span>

        <div class="tabs">
            <div class="tab-titles">
                <span class="title interface active" data-target="interface">interface</span>
                <span class="title themes" data-target="themes">themes</span>
                <span class="title profile" data-target="profile">profile</span>
            </div>

            <div class="tab-contents">
                <div class="tab active" data-tab="interface">
                    <div class="control-container">
                        <div class="control-title">Background Opacity</div>
                        <div class="control-text">Controls how opaque the background animation is (higher means more visible)</div>
                        <div class="range-slider-container" data-value="0">
                            <input id="settingBackgroundOpacity" class="range-slider" type="range" min="0" max="1" step="0.01" value="0" />
                        </div>
                    </div>

                    <div class="control-container">
                        <div class="control-title">Background Animation</div>
                        <div class="control-text">Controls whether or not the background should be animated</div>
                        <div id="settingBackgroundAnimation" class="toggle-button" data-state="false">
                            <div class="background"></div>
                            <div class="thumb"></div>
                            <div class="foreground"><span>off</span><span>on</span></div>
                        </div>
                    </div>

                    <div class="control-container">
                        <div class="control-title">Control Bar Animation</div>
                        <div class="control-text">Controls whether or not the player control bar at the bottom should be animated</div>
                        <div id="settingPlaybarAnimation" class="toggle-button" data-state="false">
                            <div class="background"></div>
                            <div class="thumb"></div>
                            <div class="foreground"><span>off</span><span>on</span></div>
                        </div>
                    </div>
                </div>

                <div class="tab" data-tab="themes">
                    <div class="themes-container"></div>
                </div>

                <div class="tab" data-tab="profile">
                    <div class="profile-container">
                        <div class="profile-picture"></div>
                        <input id="settingUsername" class="profile-name" type="text" />
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <input class="button modal-cancel" type="button" value="cancel" />
            <input class="button modal-save" type="button" value="save changes" />
        </div>
    </div>
</div>

<script>
    window.activeThemeColor = null;
    window.tempSavedSettings = { interface: {}, profile: {}, themes: [] };
    window.handleSaveButtonActive = () => {
        const button = document.querySelector(".modal-save");
        const hasInterface = Object.keys(window.tempSavedSettings.interface).length > 0;
        const hasProfile = Object.keys(window.tempSavedSettings.profile).length > 0;

        if (!hasInterface && !hasProfile) {
            button.classList.add("disabled");
        } else {
            button.classList.remove("disabled");
        }
    }

    [
        document.querySelector(".modal-cancel"),
        document.querySelector(".modal-save")
    ].forEach(button => {
        button.addEventListener("click", () => {
            if (button.classList.contains("modal-save")) {
                if (Object.keys(window.tempSavedSettings.interface).length > 0) {
                    const {
                        backgroundOpacity,
                        enableBackgroundAnimation,
                        enablePlaybarAnimation
                    } = window.tempSavedSettings.interface;
                    const { username } = window.tempSavedSettings.profile;
                    
                    if (backgroundOpacity != undefined) {
                        window.configData.interface.backgroundOpacity = backgroundOpacity;
                        UI.setAppBackgroundOpacity(backgroundOpacity);
                    }

                    if (enableBackgroundAnimation != undefined) {
                        window.configData.interface.enableBackgroundAnimation = enableBackgroundAnimation;
                        enableBackgroundAnimation
                            ? Utilities.InterfaceEffects.applyBackgroundAnimation()
                            : Utilities.InterfaceEffects.removeBackgroundAnimation();
                    }

                    if (enablePlaybarAnimation != undefined) {
                        window.configData.interface.enablePlaybarAnimation = enablePlaybarAnimation;
                        UI.Playbar.handleAnimationToggle(enablePlaybarAnimation);
                    }

                    if (username != undefined) {
                        window.configData.profile.username = username;
                        UI.Topbar.handleUpdateUsername();
                    }
                }
            }

            // Cleanup so that next activation can still use the same variables
            delete window.activeThemeColor;
            delete window.tempSavedSettings;
            delete window.handleSaveButtonActive;

            document.querySelector(".modal").innerHTML = "";
            document.querySelector(".modal").classList.remove("active");
            
            [...document.querySelectorAll("script")].forEach(script => {
                if (script.id !== "") document.body.removeChild(script);
            });
        });
    });

    // Title buttons for switching current active tab
    [...document.querySelectorAll(".tab-titles .title")].forEach(trigger => {
        trigger.addEventListener("click", e => {
            [...document.querySelectorAll(".tab-titles .title")].forEach(trigger => {
                trigger.classList.remove("active");
                const selector = `[data-tab="${trigger.dataset.target}"]`;
                document.querySelector(selector).classList.remove("active");
                
                if (trigger == e.currentTarget) {
                    trigger.classList.add("active");
                    document.querySelector(selector).classList.add("active");
                }
            });
        });
    });

    // All modal toggle buttons
    [...document.querySelectorAll(".toggle-button")].forEach(toggle => {
        toggle.addEventListener("click", e => {
            let state = e.currentTarget.dataset.state;
            
            // Reverse state and convert to bool
            state = state == "false" ? true : false;
            
            e.currentTarget.dataset.state = state;
            
            if (toggle.id == "settingBackgroundAnimation") {
                if (state == String(window.configData.interface.enableBackgroundAnimation)) {
                    delete window.tempSavedSettings.interface.enableBackgroundAnimation;
                } else {
                    window.tempSavedSettings.interface.enableBackgroundAnimation = state;
                }
            } else if (toggle.id == "settingPlaybarAnimation") {
                if (state == String(window.configData.interface.enablePlaybarAnimation)) {
                    delete window.tempSavedSettings.interface.enablePlaybarAnimation;
                } else {
                    window.tempSavedSettings.interface.enablePlaybarAnimation = state;
                }
            }

            window.handleSaveButtonActive();
        });
    });

    // All modal range sliders
    [...document.querySelectorAll(".range-slider")].forEach(slider => {
        ["input", "wheel"].forEach(evt => {
            slider.addEventListener(evt, e => {
                let [value, step, min, max] = [
                    parseFloat(slider.value),
                    parseFloat(slider.step),
                    parseFloat(slider.min),
                    parseFloat(slider.max)
                ];

                if (e.type == "wheel") {
                    slider.value = e.deltaY > 0 ? value - step : value + step;
                    // Get the value this way so that HTML clamps the new value
                    // for us
                    value = parseFloat(slider.value);
                }

                const parent = slider.parentElement;
                const sliderWidthPx = getComputedStyle(parent).getPropertyValue("--control-width");
                const sliderWidth = parseInt(sliderWidthPx.replace("px", ""), 10);
                const thumbSize = getComputedStyle(slider).getPropertyValue("--slider-thumb-size");
                const halfThumb = parseInt(thumbSize.replace("px", ""), 10) / 2;
                const [newMin, newMax] = [halfThumb, sliderWidth - halfThumb];

                const percent = Utilities.remap(value, min, max, 0, 100);
                const leftPx = Utilities.remap(value, min, max, newMin, newMax);
                const sliderProgress = `linear-gradient(to right,var(--highlight-color) 0%,var(--highlight-color) ${percent}%,#323232 ${percent}%,#323232 100%)`;
                const decimals = Utilities.decimalPlaces(step);
                // Ensure the appropriate amount of decimals to avoid the label
                // number jumping around when getting whole numbers
                const tooltipValue = value.toFixed(decimals);

                slider.style.background = sliderProgress;
                parent.dataset.value = tooltipValue;
                parent.style.setProperty("--tooltip-left", `${leftPx}px`);
            
                if (slider.id == "settingBackgroundOpacity") {
                    if (value == window.configData.interface.backgroundOpacity) {
                        delete window.tempSavedSettings.interface.backgroundOpacity;
                    } else {
                        window.tempSavedSettings.interface.backgroundOpacity = value;
                    }
                }

                window.handleSaveButtonActive();
            });
        })
    });

    // User profile
    document.querySelector("#settingUsername").addEventListener("input", e => {
        if (e.target.value == window.configData.profile.username) {
            delete window.tempSavedSettings.profile.username;
        } else {
            window.tempSavedSettings.profile.username = e.target.value;
        }
        
        window.handleSaveButtonActive();
    });

    // Color picker
    window.colorPicker = new iro.ColorPicker("#colorPicker", {
        width: 230,
        layout: [
            { component: iro.ui.Box },
            { component: iro.ui.Slider,
                options: { sliderType: "hue", sliderSize: 18 }
            }
        ]
    });
    window.colorPicker.on("color:change", color => {
        const hex = window.colorPicker.color.hexString;
        const beforeAfter = ".color-picker-container .before-after";
        const colorCode = document.querySelector(".color-picker-container .color-code");
        
        document.querySelector(beforeAfter).style.setProperty("--after", hex);
        
        if (document.activeElement != colorCode) {
            colorCode.value = hex;
        }

        if (window.activeThemeColor != null) {
            window.activeThemeColor.style.setProperty("background-color", hex);
        }
    });
    document.querySelector(".modal").addEventListener("mousedown", e => {
        const colorCode = document.querySelector(".color-picker-container .color-code");
        if (e.target != colorCode) colorCode.blur();
    });
    document.querySelector(".color-picker-container .dragbar").addEventListener("mousedown", e => {
        const el = e.currentTarget.parentElement;
        const { left, top } = window.getComputedStyle(el);
        const [offsetX, offsetY] = [
            e.clientX - parseInt(left, 10),
            e.clientY - parseInt(top, 10)
        ];
        
        const mouseMoveHandler = e => {
            el.style.top = `${e.clientY - offsetY}px`;
            el.style.left = `${e.clientX - offsetX}px`;
        }

        const resetDrag = () => {
            window.removeEventListener("mouseup", resetDrag);
            window.removeEventListener("mousemove", mouseMoveHandler);
        }

        window.addEventListener("mouseup", resetDrag);
        window.addEventListener("mousemove", mouseMoveHandler);
    });
    document.querySelector(".color-picker-close").addEventListener("click", () => {
        window.activeThemeColor = null;
        document.querySelector(".color-picker-container").classList.remove("active");
    });
    document.querySelector(".color-picker-container .before-after").addEventListener("click", e => {
        const hex = getComputedStyle(e.target).getPropertyValue("--before");
        window.colorPicker.color.set(hex);
    });
    document.querySelector(".color-picker-container .color-code").addEventListener("input", e => {
        // Error is no issue, it will when the user enters any valid hex
        try { window.colorPicker.color.hexString = e.target.value; } catch(e) {};
    });

    // Initializing data for tabs
    [
        "#settingBackgroundOpacity",
        "#settingBackgroundAnimation",
        "#settingPlaybarAnimation"
    ].forEach(setting => {
        const config = window.configData.interface;
        const control = document.querySelector(setting);

        switch (setting) {
            case "#settingBackgroundOpacity":
                control.value = config.backgroundOpacity;
                control.dispatchEvent(new Event("input"));
                break;
            case "#settingBackgroundAnimation":
                if (config.enableBackgroundAnimation == true) {
                    control.dispatchEvent(new Event("click"));
                }
                break;
            case "#settingPlaybarAnimation":
                if (config.enablePlaybarAnimation == true) {
                    control.dispatchEvent(new Event("click"));
                }
                break;
        }
    });

    // Initializing data for profile
    document.querySelector("#settingUsername").value = window.configData.profile.username;
    document.querySelector("#settingUsername").dispatchEvent(new Event("input"));

    // Initializing all themes
    window.configData.themes.forEach(theme => {
        const themeDelete = theme.id.includes("default")
            ? ""
            : `<img class="theme-delete" src="../assets/icon/ui/delete.png" />`;
        const themeMarkup = `
            <div class="theme-title">${theme.name} ${themeDelete}</div>
            <div class="theme-colors">
                <div class="color" data-color="${theme.colors.bg}"></div>
                <div class="color" data-color="${theme.colors.accent1}"></div>
                <div class="color" data-color="${theme.colors.accent2}"></div>
                <div class="color" data-color="${theme.colors.highlight}"></div>
            </div>
        `;
        
        const container = document.createElement("DIV");
        container.id = theme.id;
        container.innerHTML = themeMarkup;
        container.classList.add("theme-container");
        if (theme.selected) container.classList.add("selected");

        container.addEventListener("click", e => {
            [...document.querySelectorAll(".theme-container")].forEach(otherTheme => {
                otherTheme.classList.remove("selected");

                if (otherTheme.querySelector(".theme-title") == e.target) {
                    otherTheme.classList.add("selected");
                }
            });
        });

        const btnDelete = container.querySelector(".theme-delete");
        if (btnDelete) {
            btnDelete.addEventListener("click", e => {
                const target = container.parentElement.parentElement;
                document.querySelector(".themes-container").removeChild(target);
            });
        }

        [...container.querySelectorAll(".color")].forEach(color => {
            color.style.setProperty("background-color", color.dataset.color);
            
            color.addEventListener("click", () => {
                const hex = color.dataset.color;
                const beforeAfter = ".color-picker-container .before-after";

                window.activeThemeColor = color;
                
                window.colorPicker.color.hexString = hex;
                document.querySelector(beforeAfter).style.setProperty("--before", hex);

                document.querySelector(".color-picker-container").classList.add("active");
            });
        });

        document.querySelector(".themes-container").appendChild(container);
    });
</script>
