/* General styles =========================================================== */

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/font/poppins/Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    src: url("../assets/font/poppins/Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    src: url("../assets/font/poppins/Bold.woff2") format("woff2");
}

@keyframes tooltipTransition {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes modalTransition {
    from { opacity: 0; transform: scale(1.2); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes dropdownTransition {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes infiniteScroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-3200px); }
}

:root {
    --bg-color: #000000;
    --accent1-color: #000000;
    --accent2-color: #000000;
    --highlight-color: #000000;
    --highlight-color-from-filter: contrast(100%);

    --primary-text-color: #ffffff;
    --secondary-text-color: #dddddd;
    --tertiary-text-color: #dddddd;
    --scrollbar-thumb-color: #ffffff60;
    --modal-background: radial-gradient(#202020, #121212);
    
    --bg-opacity: 0.3;
    --topbar-height: 40px;
    --navbar-width: 200px;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

body {
    display: grid;
    grid-template-columns: var(--navbar-width) 1fr;
    overflow: hidden;
    color: var(--primary-text-color);
    font-family: "Poppins";
}

.modal, .topbar, .navbar, .main-panel, .playbar {
    box-sizing: border-box;
}

/* Tooltips ================================================================= */
/* 
    Tooltips are specified as class="tooltip xalign-yalign", meaning
    class="tooltip center-top" would place it centered above the element
*/

.tooltip {
    position: absolute;
    display: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.8);
}

.tooltip-trigger {
    position: relative;
}

.tooltip-trigger:hover .tooltip {
    display: inline-block;
    animation: tooltipTransition 0.1s linear forwards;
}

.tooltip.center-top {
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip.right-top {
    top: -20%;
    right: 10%;
    transform: translateY(-50%);
}

.tooltip.nudge-top {
    top: -50%;
    transform: translate(-50%, -100%);
}

/* Modal ==================================================================== */

.modal {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(20, 20, 20, 0.5);
    z-index: 10000;
}

.modal.active {
    display: flex;
    animation: modalTransition 0.3s ease forwards;
}

/* Topbar =================================================================== */

.topbar {
    -webkit-app-region: drag;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--topbar-height);
    z-index: 1000;
}

.topbar .appicon-container {
    -webkit-app-region: none;
    position: relative;
    width: var(--topbar-height);
    height: 100%;
    z-index: 10;
}

.topbar .appicon {
    width: 16px;
    height: auto;
    padding: 12px;
}

.topbar .profile {
    -webkit-app-region: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 100%;
    padding: 8px 12px;
    align-items: center;
    box-sizing: border-box;
    transition: backdrop-filter 0.1s linear;
}

.topbar .profile:hover {
    backdrop-filter: contrast(90%);
}

.topbar .profile .profile-name {
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    color: var(--tertiary-text-color);
}

.topbar .profile .profile-picture {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.topbar .profile .profile-dropdown {
    position: absolute;
    display: none;
    top: 0;
    left: -20px;
    z-index: -1;
    font-size: 12px;
    box-sizing: border-box;
    width: calc(100% + 40px);
    padding-top: 50px;
    border-radius: 0 0 10px 10px;
    background-color: #121212;
}

.topbar .profile .profile-dropdown.show {
    display: block;
    animation: dropdownTransition 0.2s linear forwards;
}

.topbar .profile .profile-dropdown-option {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    transition: backdrop-filter 0.1s linear;
}

.topbar .profile .profile-dropdown-option:hover {
    backdrop-filter: contrast(80%);
}

.topbar .profile #dropdownQuit:hover {
    backdrop-filter: contrast(80%) sepia(100%);
}

.topbar .profile .profile-dropdown-separator {
    display: block;
    height: 1px;
    margin: 5px 15px;
    width: calc(100% - 30px);
    backdrop-filter: contrast(80%);
}

.topbar .buttons {
    -webkit-app-region: none;
    height: 100%;
    display: flex;
}

.topbar .buttons .button {
    display: flex;
    align-items: center;
    height: 100%;
    opacity: 0.8;
    padding: 0 15px;
    transition: background 0.1s linear, backdrop-filter 0.1s linear;
}

.topbar .buttons .button:hover {
    backdrop-filter: contrast(60%);
}

.topbar .buttons .button:last-child:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.topbar .buttons .button img {
    width: 18px;
    height: auto;
}

/* Background =============================================================== */

.bg-container {
	position: absolute;
	opacity: var(--bg-opacity);
	width: 100vw;
	height: 100vh;
    backdrop-filter: blur(5px);
	transition: opacity 2s ease;
}

.bg-container.inactive {
	opacity: 0;
}

/* Navbar =================================================================== */

.navbar {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    top: var(--topbar-height);
    height: calc(100vh - var(--topbar-height));
    max-height: calc(100vh - var(--topbar-height));
}

.navbar .general,
.navbar .sources,
.navbar .playlists {
    width: 100%;
    min-height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.navbar .general .general-item {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: -5px;
    border-radius: 5px;
    color: var(--primary-text-color);
    transition: backdrop-filter 0.1s linear, color 0.1s linear;
}

.navbar .general .general-item:first-child {
    margin-bottom: 10px;
}

.navbar .general .general-item:hover {
    backdrop-filter: contrast(60%);
}

.navbar .general .general-item img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    vertical-align: text-top;
}

.navbar .sources .sources-title,
.navbar .playlists .playlists-title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.navbar .sources .sources-title img,
.navbar .playlists .playlists-title img {
    width: 22px;
    margin-right: 10px;
}

.navbar .sources .sources-title .btn-add,
.navbar .playlists .playlists-title .btn-add {
    cursor: pointer;
    margin: 0;
    width: 24px;
    border-radius: 5px;
    justify-self: right;
    transition: backdrop-filter 0.1s linear;
}

.navbar .sources .sources-title .btn-add:hover,
.navbar .playlists .playlists-title .btn-add:hover {
    backdrop-filter: contrast(60%);
}

.navbar .sources .sources-items,
.navbar .playlists .playlists-items {
    overflow-y: hidden;
    height: calc(100% - 35px);
}

.navbar .sources .sources-items:hover,
.navbar .playlists .playlists-items:hover {
    overflow-y: scroll;
}

.navbar .sources .sources-items::-webkit-scrollbar,
.navbar .playlists .playlists-items::-webkit-scrollbar {
    appearance: none;
    width: 5px;
}

.navbar .sources .sources-items::-webkit-scrollbar-thumb,
.navbar .playlists .playlists-items::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.navbar .sources .sources-items::-webkit-scrollbar-thumb:hover,
.navbar .playlists .playlists-items::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-color);
}

.navbar .sources .sources-items .source,
.navbar .playlists .playlists-items .playlist {
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 5px 5px 20px;
    color: var(--secondary-text-color);
    transition: backdrop-filter 0.1s linear, color 0.1s linear;
}

.navbar .playlists .playlists-items .playlist:last-child {
    margin-bottom: 105px;
}

.navbar .sources .sources-items .source:hover,
.navbar .playlists .playlists-items .playlist:hover {
    backdrop-filter: contrast(60%);
}

.navbar .general .general-item.active,
.navbar .sources .sources-items .source.active,
.navbar .playlists .playlists-items .playlist.active {
    color: var(--highlight-color);
}

/* Main Panel =============================================================== */

.main-panel {
    position: relative;
    top: var(--topbar-height);
    height: calc(100vh - var(--topbar-height));
    max-height: calc(100vh - var(--topbar-height));
}

.main-panel .panels {
    height: 100%;
}

.main-panel .panels .panel {
    display: none;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.main-panel .panels .panel::-webkit-scrollbar {
    appearance: none;
    width: 10px;
}

.main-panel .panels .panel::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 999px;
    background-color: var(--scrollbar-thumb-color);
}

.main-panel .panels .panel::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-color);
}

.main-panel .panels .panel.active {
    display: block;
}

.main-panel .panels .panel .panel-header-top {
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    box-sizing: border-box;
}

.main-panel .panels .panel .panel-header-top .panel-icon {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-right: 15px;
    border-radius: 10px;
}

.main-panel .panels .panel .panel-header-top div {
    display: inline-block;
}

.main-panel .panels .panel .panel-header-top div span {
    display: block;
}

.main-panel .panels .panel .panel-header-bottom,
.main-panel .panels .panel .panel-content .panel-item {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto 1fr 2fr 2fr 2fr 1fr auto;
    gap: 20px;
    box-sizing: border-box;
}

.main-panel .panels .panel .panel-header-bottom img {
    width: 20px;
    margin-right: 5px;
    align-self: center;
    vertical-align: sub;
}

.main-panel .panels .panel .panel-header-bottom .panel-button,
.main-panel .panels .panel .panel-content .panel-item .panel-button {
    opacity: 0;
    width: 28px;
}

.main-panel .panels .panel .panel-content .panel-item .panel-button:hover {
    transform: scale(1.15);
}

.main-panel .panels .panel .panel-content .panel-item .panel-button img {
    cursor: pointer;
    width: 100%;
}

.main-panel .panels .panel .panel-header-bottom {
    position: sticky;
    top: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
}

.main-panel .panels .panel .panel-content .panel-item {
    height: 60px;
    font-size: 12px;
    padding: 10px 20px;
    transition: backdrop-filter 0.1s linear;
}

.main-panel .panels .panel .panel-content .panel-item:hover {
    backdrop-filter: contrast(85%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main-panel .panels .panel .panel-content .panel-item:hover > .panel-button {
    opacity: 1;
}

.main-panel .panels .panel .panel-content .panel-item:last-child {
    margin-bottom: 105px;
}

.main-panel .panels .panel .panel-header-bottom div,
.main-panel .panels .panel .panel-content .panel-item div {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-panel .panels .panel .panel-header-bottom div:nth-child(2),
.main-panel .panels .panel .panel-content .panel-item div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.main-panel .panels .panel .panel-content .panel-item div:nth-child(2) img {
    width: 40px;
    border-radius: 5px;
}

.main-panel .panels .panel .panel-header-bottom div:nth-last-child(2),
.main-panel .panels .panel .panel-content .panel-item div:nth-last-child(2) {
    text-align: right;
}

/* Playbar ================================================================== */

.playbar {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 80px;
    z-index: 10;
    border-radius: 10px;
    width: calc(100% - 30px);
}

.playbar .bgimg {
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.playbar .bgimg img {
    filter: var(--highlight-color-from-filter);
    animation: infiniteScroll 120s linear infinite;
}

.playbar .controls {
    position: absolute;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
}

.playbar .controls .slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    --slider-filled-background-color: var(--primary-text-color);
}

.playbar .controls .slider:hover {
    --slider-filled-background-color: var(--highlight-color);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border-radius: 14px;
    background-color: var(--primary-text-color);
}

.timeline:hover #inpTimeline::-webkit-slider-thumb,
.volume:hover #inpVolume::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
}

.playbar .controls .button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s linear, transform 0.1s linear;
}

.playbar .controls .button:not(.active) {
    opacity: 0.8;
}

.playbar .controls .button:hover {
    opacity: 1;
}

.playbar .controls .button img {
    width: 30px;
    margin: 0 8px;
}

.playbar .controls .button.active img {
    filter:
        var(--highlight-color-from-filter)
        drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
}

.playbar .controls .details {
    display: flex;
    align-items: center;
    justify-self: left;
}

.playbar .controls .details .track-art img {
    width: 50px;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

.playbar .controls .details .track-details {
    display: flex;
    flex-direction: column;
}

.playbar .controls .details .track-details .track-title {
    font-size: 14px;
}

.playbar .controls .details .track-details .track-artist {
    font-size: 10px;
    color: var(--tertiary-text-color);
}

.playbar .controls .action-center {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-between;
    width: 100%;
}

.playbar .controls .action-center .player-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playbar .controls .action-center .player-buttons .play {
    width: 36px;
    height: 36px;
    opacity: 1;
    margin: 0 10px;
    border-radius: 30px;
    background-color: var(--primary-text-color);
}

.playbar .controls .action-center .player-buttons .play:hover {
    transform: scale(1.05);
}

.playbar .controls .action-center .player-buttons .expand img {
    margin-right: 30px;
}

.playbar .controls .action-center .player-buttons .enhance img {
    margin-left: 30px;
}

.playbar .controls .action-center .player-buttons .expand img,
.playbar .controls .action-center .player-buttons .enhance img,
.playbar .controls .action-center .player-buttons .shuffle img,
.playbar .controls .action-center .player-buttons .repeat img {
    width: 22px;
}

.playbar .controls .action-center .player-timeline {
    display: flex;
    align-items: center;
    width: 100%;
}

.playbar .controls .action-center .player-timeline span {
    width: 60px;
    font-size: 12px;
    text-align: center;
    color: var(--secondary-text-color);
}

.playbar .controls .action-center .player-timeline .timeline {
    display: flex;
    align-items: center;
    width: 100%;
}

.playbar .controls .extra-buttons {
    display: flex;
    justify-self: right;
}

.playbar .controls .extra-buttons .volume-container {
    display: flex;
    align-items: center;
}

.playbar .controls .extra-buttons .volume {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.playbar .controls .extra-buttons .volume-container .volume-icon img {
    margin: 0;
}

.playbar .controls .extra-buttons .queue {
    margin-left: 20px;
}

.playbar .controls .extra-buttons .queue img {
    width: 28px;
}

.playbar .controls .extra-buttons .miniplayer-switch img {
    width: 22px;
}
