/* General styles =========================================================== */

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/font/poppins/Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    src: url("../assets/font/poppins/Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    src: url("../assets/font/poppins/Bold.woff2") format("woff2");
}

@keyframes infiniteScroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-3200px); }
}

@keyframes modalTransition {
    from { opacity: 0; transform: scale(1.2); }
    to { opacity: 1; transform: scale(1); }
}

:root {
    --active-color: #ff873c;
    --scrollbar-thumb-color: #ff873c60;
    --active-color-from-filter: invert(56%) sepia(99%) saturate(818%) hue-rotate(332deg) brightness(101%) contrast(101%);
    --button-background-color: #d72227;
    --primary-text-color: #ffffff;
    --secondary-text-color: #cccccc;
    --tertiary-text-color: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--primary-text-color);
    font-family: "Poppins";
}

.modal, .topbar, .navbar, .main-panel, .playbar {
    box-sizing: border-box;
}

/* Modal ==================================================================== */

.modal {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(20, 20, 20, 0.5);
    z-index: 10000;
}

.modal.active {
    display: flex;
    animation: modalTransition 0.3s ease forwards;
}

/* Topbar =================================================================== */

.topbar {
    -webkit-app-region: drag;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1000;
}

.topbar .appicon-container {
    -webkit-app-region: none;
    position: relative;
    width: 40px;
    height: 100%;
    z-index: 10;
}

.topbar .appicon {
    width: 16px;
    height: auto;
    padding: 7px;
}

.topbar .buttons {
    -webkit-app-region: none;
    height: 100%;
    display: flex;
}

.topbar .buttons .button {
    display: flex;
    align-items: center;
    height: 100%;
    opacity: 0.8;
    padding: 0 15px;
    transition: background 0.1s linear;
}

.topbar .buttons .button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.topbar .buttons .button:last-child:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.topbar .buttons .button img {
    width: 18px;
    height: auto;
}

/* Background =============================================================== */

.bg-container {
	position: absolute;
	opacity: 1;
	width: 100vw;
	height: 100vh;
	transition: opacity 2s ease;
}

.bg-container.inactive {
	opacity: 0;
}

/* Navbar =================================================================== */

.navbar {
    display: grid;
    grid-template-rows: 30px 1fr 1fr;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(20, 20, 20, 0.4);
    z-index: 1;
}

.navbar .sources,
.navbar .playlists {
    width: 100%;
    min-height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.navbar .sources .sources-title,
.navbar .playlists .playlists-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.navbar .sources .sources-title img,
.navbar .playlists .playlists-title img {
    cursor: pointer;
    width: 24px;
    height: auto;
    border-radius: 5px;
}

.navbar .sources .sources-title img:hover,
.navbar .playlists .playlists-title img:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar .sources .sources-items,
.navbar .playlists .playlists-items {
    overflow-y: hidden;
    height: calc(100% - 35px);
}

.navbar .sources .sources-items:hover,
.navbar .playlists .playlists-items:hover {
    overflow-y: scroll;
}

.navbar .sources .sources-items::-webkit-scrollbar,
.navbar .playlists .playlists-items::-webkit-scrollbar {
    appearance: none;
    width: 5px;
}

.navbar .sources .sources-items::-webkit-scrollbar-thumb,
.navbar .playlists .playlists-items::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.navbar .sources .sources-items .source,
.navbar .playlists .playlists-items .playlist {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--secondary-text-color);
}

.navbar .playlists .playlists-items .playlist:last-child {
    margin-bottom: 90px;
}

.navbar .sources .sources-items .source:hover,
.navbar .playlists .playlists-items .playlist:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Main Panel =============================================================== */

.main-panel {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* Playbar ================================================================== */

.playbar {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 10;
}

.playbar .bgimg img {
    filter: var(--active-color-from-filter);
    animation: infiniteScroll 120s linear infinite;
}

.playbar .controls {
    position: absolute;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
}

.playbar .controls .slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    --slider-filled-background-color: var(--primary-text-color);
}

.playbar .controls .slider:hover {
    --slider-filled-background-color: var(--active-color);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border-radius: 14px;
    background-color: #ffffff;
}

.timeline:hover #inpTimeline::-webkit-slider-thumb,
.volume:hover #inpVolume::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
}

.playbar .controls .button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s linear, transform 0.1s linear;
}

.playbar .controls .button:not(.active) {
    opacity: 0.8;
}

.playbar .controls .button:hover {
    opacity: 1;
}

.playbar .controls .button img {
    width: 30px;
    height: auto;
    margin: 0 8px;
}

.playbar .controls .button.active img {
    filter: var(--active-color-from-filter);
}

.playbar .controls .details {
    display: flex;
    align-items: center;
    justify-self: left;
}

.playbar .controls .details .track-details {
    display: flex;
    flex-direction: column;
}

.playbar .controls .details .track-details .track-title {
    font-size: 14px;
}

.playbar .controls .details .track-details .track-artist {
    font-size: 10px;
    color: var(--tertiary-text-color);
}

.playbar .controls .action-center {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-between;
    width: 100%;
}

.playbar .controls .action-center .player-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playbar .controls .action-center .player-buttons .play {
    width: 36px;
    height: 36px;
    opacity: 1;
    margin: 0 10px;
    border-radius: 30px;
    background-color: var(--primary-text-color);
}

.playbar .controls .action-center .player-buttons .play:hover {
    transform: scale(1.05);
}

.playbar .controls .action-center .player-buttons .shuffle img,
.playbar .controls .action-center .player-buttons .repeat img {
    width: 22px;
}

.playbar .controls .action-center .player-timeline {
    display: flex;
    align-items: center;
    width: 100%;
}

.playbar .controls .action-center .player-timeline span {
    width: 60px;
    font-size: 12px;
    text-align: center;
    color: var(--secondary-text-color);
}

.playbar .controls .action-center .player-timeline .timeline {
    display: flex;
    align-items: center;
    width: 100%;
}

.playbar .controls .extra-buttons {
    display: flex;
    justify-self: right;
}

.playbar .controls .extra-buttons .volume-container {
    display: flex;
    align-items: center;
}

.playbar .controls .extra-buttons .volume {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.playbar .controls .extra-buttons .volume-container .volume-icon img {
    margin: 0;
}

.playbar .controls .extra-buttons .miniplayer-switch {
    margin-left: 20px;
}

.playbar .controls .extra-buttons .miniplayer-switch img {
    width: 24px;
}
